body {
  padding-top: 20px; }

#billboard {
  display: inline-block;
  max-width: 1140px;
  border-radius: 30px;
  background-color: #3a2300;
  padding: 30px;
  background-image: url(../img/bg.jpg);
  box-shadow: inset 10px 10px 40px 5px rgba(255, 255, 255, 0.3), inset -10px -10px 40px 5px rgba(0, 0, 0, 0.3); }
  #billboard .coffee-item {
    position: relative;
    float: left;
    margin: 10px; }
    #billboard .coffee-item a.delete {
      position: absolute;
      border-radius: 50%;
      background-color: #f00;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url(../img/btn-close.png);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      right: 0px;
      top: 1px;
      z-index: 100; }
      #billboard .coffee-item a.delete:hover {
        background-color: #e00;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
        right: 1px;
        top: 0px; }
      #billboard .coffee-item a.delete:active {
        background-color: #f00;
        box-shadow: none;
        right: 0px;
        top: 1px; }
    #billboard .coffee-item .img {
      border: 15px solid #ffeaca;
      border-radius: 50% 50% 10px 50%;
      width: 250px;
      height: 250px;
      z-index: 50;
      background-color: #4f3000;
      box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.3), 1px 1px 3px 0px rgba(0, 0, 0, 0.3); }
      #billboard .coffee-item .img .img-container {
        background-size: cover;
        border: 10px solid #fff;
        width: calc( 100% - 30px );
        height: calc( 100% - 30px );
        margin-top: 15px;
        margin-left: 15px;
        border-radius: 50% 50% 10px 50%;
        box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.3); }
    #billboard .coffee-item .price {
      position: absolute;
      top: 192px;
      right: 8px;
      padding: 5px 10px;
      background-color: #d6df07;
      color: #000;
      font-weight: bold;
      font-size: 14pt;
      border: 7px solid #fdffd6;
      border-radius: 7px;
      z-index: 75;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3); }
    #billboard .coffee-item .title {
      background-color: #fff;
      color: #000;
      padding: 10px;
      margin: 20px 20px 10px 20px;
      border-radius: 10px;
      max-width: 210px;
      text-align: center;
      font-weight: bold;
      font-size: 14pt; }

/*# sourceMappingURL=billboard.css.map */
